@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
.navbar {
    width: 100%;
    height: 75px;
    background: #171616;
    box-shadow: 0 10px 8px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: absolute;
  }
  
  .logo-container {
    margin-left: 20px;
  }
  
  .links-container {
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Gloock', serif;
    font-size: 17px;
  }
  
  .logo-container span {
    font-weight: 500;
    cursor: pointer;
    font-family: 'Gloock', serif;
    color: #e8ff9c;
    font-size: 30px;
  }
  
  .link a {
    text-decoration: none;
    color: #d1fc42;
    padding: .7rem;
  }
  
  .link a:hover {
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: #5434dd;
    background-color: #d1fc42;
  }
  